<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
<script>
    function handle(e){
        if(e.keyCode === 13){
            alert("Enter Key was presses");
        }

        return false;
    }
</script>	
	
</head>
<body ng-app = "">

<div ng-init="WholeWords = [{name:'John', userId:'Ajohn', message:'John 2 ksjks'},
                         {name:'Mary', userId:'Amary', message:'Mary 10 ksjks'},
                         {name:'Mike', userId:'Bmike', message:' Mike 100 message'},
                         {name:'Adam', userId:'BAdam', message:' Adam 1 message'},
                         {name:'Julie', userId:'Cjulie', message:' Jule 3 messages'},
                         {name:'Juliette', userId:'Vjulie', message:' Vjulie 4 messages'}]">
<hr>
<!--
<label>Name only <input ng-model="search.name"></label><br>
<label>userId only <input ng-model="search.userId"></label><br>
<label>user's Message only <input ng-model="search.message"></label><br>
<label>Equality <input type="checkbox"required ng-model="strict"></label><br>
-->
<label>Search any words: <input ng-model="search.$" onkeypress="handle(event)"></label> <br>
<table id="searchObjResults">
  <tr><th>Name</th><th>userId</th><th>User's Message</th></tr>
  <tr ng-repeat="eachObj in WholeWords | filter:search">
    <td><a href="#/{{eachObj.name}}">{{eachObj.name}} </a></td>   
    <td>{{eachObj.userId}}</td> 
	<td>{{eachObj.message}}</td> 
  </tr>
<!-- <a ng-model="search.$='' "></a -->
</table>

</body>
</html>