<html ng-app="slackApp">
  <head>
    <meta charset="utf-8">
    <title>Slack Mock Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="slack.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/login-ctrl.js"></script>
    

  </head>

  <body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
    <li><a href="slack.html">Home</a></li>
    <li class="active"><a href="#">Login</a></li>
    <li><a href="signup.html">Sign Up</a></li>
    </ul>
  </div>
</nav>

<div class="panel panel-default" style="width:600;margin:auto">
  <div class="panel-heading">
    <h3 class="panel-title">Login to SSA Slack</h3>
  </div>
  <div class="panel-body">
      <form ng-submit="submit()" ng-controller="LoginCtrl">
				<h4 ng-show="loginErr" style="color:red">{{loginErr}}</h4>
				<p>Username: <input type="text" ng-model="username" id="username"></p>
				<p>Password: <input type="password" ng-model="password" id="password"></p>
				<p><input type="submit" id="submit" value="Submit"></p>
			</form>
  </div>
</div>

<div ng-include="'footer.html'"></div>

  </body>
</html>