.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;}
    
.list-group-item{
    border: none;
    background-color:transparent;
}
.input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height:34px;
}
/* stop the glowing blue shadow */
.form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
