<table class = "table table-borderless" style="margin-bottom:50px;">
    <tr>
        <td style="width:220px;vertical-align:top;background-color:#4d394b;">
            <div style="margin:10px;">

                <div style="color:#fff;font-weight:bold;width:100%;margin-bottom:10px;">
                    Teams:
                </div>

    <!--<div style="display:inline-block;vertical-align:top">-->
                <div style="display:inline-block;vertical-align:top; ">   
                    <ul>
                        <li  class="list-group-item" ng-repeat="team in teams track by $index" style="color:#ab9ba9" >{{team.teamName}}</li>
                        <!--<li ng-repeat="team in teams track by $index" ><a href="" ng-click="showChannels(team.teamName)"> {{team.teamName}}</a></li>-->
                    </ul>
                </div>
            </div>

         </td>
        <td>
            <div style="display:inline-block;vertical-align:top"> 
                
                <p>Enter a new Team
                    
                    <input type="text" id="txtTeam" ng-model="newTeam" ng-keyup="IsEnter($event)">
                </p>
                 <p ng-show = teamErr style="color:red;">  
                        You must enter a team name  
                </P>  
  
                <p>  
                    <button type ="button" name="btnSave" ng-click="dataSubmitted()">Save</button>  
               </p>  


            </div>
        </td>
    </tr>
 </table>
    

